@font-face {
  font-family: Assistant;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Assistant;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Assistant;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root,
.color-scheme-1 {
  --color-background: 255, 255, 255;
  --gradient-background: #ffffff;
  --color-foreground: 18, 18, 18;
  --color-background-contrast: 191, 191, 191;
  --color-shadow: 18, 18, 18;
  --color-button: 18, 18, 18;
  --color-button-text: 255, 255, 255;
  --color-secondary-button: 255, 255, 255;
  --color-secondary-button-text: 18, 18, 18;
  --color-link: 18, 18, 18;
  --color-badge-foreground: 18, 18, 18;
  --color-badge-background: 255, 255, 255;
  --color-badge-border: 18, 18, 18;
  --payment-terms-background-color: rgb(255 255 255);
}

.color-scheme-2 {
  --color-background: 243, 243, 243;
  --gradient-background: #f3f3f3;
  --color-foreground: 18, 18, 18;
  --color-background-contrast: 179, 179, 179;
  --color-shadow: 18, 18, 18;
  --color-button: 18, 18, 18;
  --color-button-text: 243, 243, 243;
  --color-secondary-button: 243, 243, 243;
  --color-secondary-button-text: 18, 18, 18;
  --color-link: 18, 18, 18;
  --color-badge-foreground: 18, 18, 18;
  --color-badge-background: 243, 243, 243;
  --color-badge-border: 18, 18, 18;
  --payment-terms-background-color: rgb(243 243 243);
}

.color-scheme-3 {
  --color-background: 36, 40, 51;
  --gradient-background: #242833;
  --color-foreground: 255, 255, 255;
  --color-background-contrast: 47, 52, 66;
  --color-shadow: 18, 18, 18;
  --color-button: 255, 255, 255;
  --color-button-text: 0, 0, 0;
  --color-secondary-button: 36, 40, 51;
  --color-secondary-button-text: 255, 255, 255;
  --color-link: 255, 255, 255;
  --color-badge-foreground: 255, 255, 255;
  --color-badge-background: 36, 40, 51;
  --color-badge-border: 255, 255, 255;
  --payment-terms-background-color: rgb(36 40 51);
}

.color-scheme-4 {
  --color-background: 18, 18, 18;
  --gradient-background: #121212;
  --color-foreground: 255, 255, 255;
  --color-background-contrast: 146, 146, 146;
  --color-shadow: 18, 18, 18;
  --color-button: 255, 255, 255;
  --color-button-text: 18, 18, 18;
  --color-secondary-button: 18, 18, 18;
  --color-secondary-button-text: 255, 255, 255;
  --color-link: 255, 255, 255;
  --color-badge-foreground: 255, 255, 255;
  --color-badge-background: 18, 18, 18;
  --color-badge-border: 255, 255, 255;
  --payment-terms-background-color: rgb(18 18 18);
}

.color-scheme-5 {
  --color-background: 51, 79, 180;
  --gradient-background: #334fb4;
  --color-foreground: 255, 255, 255;
  --color-background-contrast: 23, 35, 81;
  --color-shadow: 18, 18, 18;
  --color-button: 255, 255, 255;
  --color-button-text: 51, 79, 180;
  --color-secondary-button: 51, 79, 180;
  --color-secondary-button-text: 255, 255, 255;
  --color-link: 255, 255, 255;
  --color-badge-foreground: 255, 255, 255;
  --color-badge-background: 51, 79, 180;
  --color-badge-border: 255, 255, 255;
  --payment-terms-background-color: rgb(51 79 180);
}

body,
.color-scheme-1,
.color-scheme-2,
.color-scheme-3,
.color-scheme-4,
.color-scheme-5 {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
}

:root {
  --font-body-family: Assistant, sans-serif;
  --font-body-style: normal;
  --font-body-weight: 400;
  --font-body-weight-bold: 700;
  --font-heading-family: Assistant, sans-serif;
  --font-heading-style: normal;
  --font-heading-weight: 400;
  --font-body-scale: 1;
  --font-heading-scale: 1;
  --media-padding: px;
  --media-border-opacity: 0.05;
  --media-border-width: 1px;
  --media-radius: 0px;
  --media-shadow-opacity: 0;
  --media-shadow-horizontal-offset: 0px;
  --media-shadow-vertical-offset: 4px;
  --media-shadow-blur-radius: 5px;
  --media-shadow-visible: 0;
  --page-width: 120rem;
  --page-width-margin: 0rem;
  --product-card-image-padding: 0rem;
  --product-card-corner-radius: 0rem;
  --product-card-text-alignment: left;
  --product-card-border-width: 0rem;
  --product-card-border-opacity: 0.1;
  --product-card-shadow-opacity: 0;
  --product-card-shadow-visible: 0;
  --product-card-shadow-horizontal-offset: 0rem;
  --product-card-shadow-vertical-offset: 0.4rem;
  --product-card-shadow-blur-radius: 0.5rem;
  --collection-card-image-padding: 0rem;
  --collection-card-corner-radius: 0rem;
  --collection-card-text-alignment: left;
  --collection-card-border-width: 0rem;
  --collection-card-border-opacity: 0.1;
  --collection-card-shadow-opacity: 0;
  --collection-card-shadow-visible: 0;
  --collection-card-shadow-horizontal-offset: 0rem;
  --collection-card-shadow-vertical-offset: 0.4rem;
  --collection-card-shadow-blur-radius: 0.5rem;
  --blog-card-image-padding: 0rem;
  --blog-card-corner-radius: 0rem;
  --blog-card-text-alignment: left;
  --blog-card-border-width: 0rem;
  --blog-card-border-opacity: 0.1;
  --blog-card-shadow-opacity: 0;
  --blog-card-shadow-visible: 0;
  --blog-card-shadow-horizontal-offset: 0rem;
  --blog-card-shadow-vertical-offset: 0.4rem;
  --blog-card-shadow-blur-radius: 0.5rem;
  --badge-corner-radius: 4rem;
  --popup-border-width: 1px;
  --popup-border-opacity: 0.1;
  --popup-corner-radius: 0px;
  --popup-shadow-opacity: 0.05;
  --popup-shadow-horizontal-offset: 0px;
  --popup-shadow-vertical-offset: 4px;
  --popup-shadow-blur-radius: 5px;
  --drawer-border-width: 1px;
  --drawer-border-opacity: 0.1;
  --drawer-shadow-opacity: 0;
  --drawer-shadow-horizontal-offset: 0px;
  --drawer-shadow-vertical-offset: 4px;
  --drawer-shadow-blur-radius: 5px;
  --spacing-sections-desktop: 0px;
  --spacing-sections-mobile: 0px;
  --grid-desktop-vertical-spacing: 8px;
  --grid-desktop-horizontal-spacing: 8px;
  --grid-mobile-vertical-spacing: 4px;
  --grid-mobile-horizontal-spacing: 4px;
  --text-boxes-border-opacity: 0.1;
  --text-boxes-border-width: 0px;
  --text-boxes-radius: 0px;
  --text-boxes-shadow-opacity: 0;
  --text-boxes-shadow-visible: 0;
  --text-boxes-shadow-horizontal-offset: 0px;
  --text-boxes-shadow-vertical-offset: 4px;
  --text-boxes-shadow-blur-radius: 5px;
  --buttons-radius: 0px;
  --buttons-radius-outset: 0px;
  --buttons-border-width: 1px;
  --buttons-border-opacity: 1;
  --buttons-shadow-opacity: 0;
  --buttons-shadow-visible: 0;
  --buttons-shadow-horizontal-offset: 0px;
  --buttons-shadow-vertical-offset: 4px;
  --buttons-shadow-blur-radius: 5px;
  --buttons-border-offset: 0px;
  --inputs-radius: 0px;
  --inputs-border-width: 1px;
  --inputs-border-opacity: 0.55;
  --inputs-shadow-opacity: 0;
  --inputs-shadow-horizontal-offset: 0px;
  --inputs-margin-offset: 0px;
  --inputs-shadow-vertical-offset: 4px;
  --inputs-shadow-blur-radius: 5px;
  --inputs-radius-outset: 0px;
  --variant-pills-radius: 40px;
  --variant-pills-border-width: 1px;
  --variant-pills-border-opacity: 0.55;
  --variant-pills-shadow-opacity: 0;
  --variant-pills-shadow-horizontal-offset: 0px;
  --variant-pills-shadow-vertical-offset: 4px;
  --variant-pills-shadow-blur-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}
/* =======================Header======================== */
.header {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center;
  height: 100px;
  padding-right: 18px; /* vertically center */
}

.nav_logo img {
  max-width: 100%; /* Ensure the logo doesn't exceed its container's width */
  height: auto; /* Maintain aspect ratio */
}

/* Media query for smaller devices */
@media screen and (max-width: 768px) {
  .header {
    padding-left: 5px;
    margin-top: -10px; /* Reduce left padding for smaller screens */
  }
  .nav_logo {
    text-align: center; /* Center the logo on smaller screens */
  }
}

/* ======= swiper section========= */
.gp-marquee_overflow {
  overflow: hidden;
  white-space: nowrap;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee-item {
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  background-color: #c5d805;
  height: 48px;
  background-repeat: no-repeat;
}
.marquee-item .marquee-icon svg {
  display: none;
}
.marquee-item:first-child .marquee-icon svg {
  display: block; /* Show SVG icon for the first marquee item */
}

.marquee-icon {
  margin-right: 0.5rem;
}

/* Styling for SVG icons */
svg {
  fill: #161723;
}

.gB-lCogKHZ * {
  max-width: unset !important;
}

.gp-marquee_overflow {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-wrap: nowrap;
}

.gp-marquee_wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  animation: gp-marquee-animation 60s linear infinite; /* Set animation duration to 60s from the beginning */
}

@keyframes gp-marquee-animation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% + 100vw), 0, 0);
  }
}

.marquee-item {
  white-space: nowrap;
  min-width: calc(100vw / 9);
  padding: 0 83px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  justify-content: center;
  align-content: center;
  position: relative;
}

.marquee-item:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background: #161723;
  position: absolute;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.marquee-icon svg {
  display: block;
  width: 24px !important;
  height: 24px !important;
}

.marquee-text {
  color: #161723;
  font-family: "Inter Tight" sans-serif;
  text-align: center;
  white-space: nowrap;
  width: 181px;
  height: 24px;
  max-width: 100%;
  min-width: auto;
  min-height: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 1023px) {
  .marquee-item {
    padding: 0 45px;
    gap: 10px;
  }
  .marquee-icon svg {
    width: 21px !important;
    height: 21px !important;
  }
  .marquee-text {
    font-size: 14px;
  }
  .gps-513074820833871038 .\[\&_\*\]\:gp-max-w-full * {
    max-width: unset !important;
  }
}

/* ====================Product section============== */
.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.card img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 991px) {
  .img-select {
    display: none;
  }
  .product-imgs {
    position: relative;
  }
  .card-wrapper {
    margin-top: 10px; /* Margin added only on smaller screens */
  }
  .img-showcase {
    transition: transform 0.5s ease-in-out;
  }

  .img-showcase img {
    max-width: 100%;
  }
}

.product-imgs {
  position: relative; /* Set containing block for absolute positioning */
}

.product-imgs {
  position: relative; /* Set containing block for absolute positioning */
}

.additional-content {
  position: absolute;
  top: 100%;
  left: 238px;
  width: 578px;
  max-width: 100%;
  min-width: auto;
  min-height: auto;
  padding: 24px 24px 24px 24px;
  background-color: #f1fbff;
  box-sizing: border-box; /* Include padding and border in the width */
}
